<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="addBoard">
        <p v-if="errorshow">
            <ul>
                <li v-for="error in errors" style="color: #f5b914; font-size: 20px; list-style: none;padding: 5px;"><b>{{ error }}</b></li>
            </ul>
        </p>

        <form @submit.prevent="getBoard">
            <table border="1">
                <tr>
                    <td>제목</td>
                    <td>
                        <input type="text" value="" name="title" v-model="form.title" style="width:400px;">
                    </td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td>
                        <textarea value="" name="content" v-model="form.content" style="width:500px; height:300px;"></textarea>
                    </td>
                </tr>
            </table>
            <br/>
            <input type="submit" class="button" value="저장"/>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        new Vue({
            el:"#addBoard",
            data:{
                form: {
                    title: '',
                    content: ''
                },
                errors: [],
                errorshow: false,
            },
            methods: {
                validateCheck: function(){
                    this.errors= [];
                    console.log(this.form.title);
                    if(!this.form.title){
                        this.errors.push("타이틀을 입력해주세요.");
                    }
                    
                    if(!this.form.content){
                        this.errors.push("컨텐츠를 입력해주세요.");
                    }

                    // 미입력 처리
                    if (!this.errorshow) {
                        return true;
                    };
                },
                clearAll(){
                    this.form.title = '',
                    this.form.content = ''
                },
                getBoard: function(){
                    this.validateCheck();

                    if(this.errors.length == 0){
                        axios.post('http://localhost:5500/board/addboard', this.form)
                        .then(function(response){
                            console.log(response);  
                        })
                        .catch(function(err){
                            console.log(err)
                        });

                        this.clearAll();
                    }
                    // var vm= this;
                    // axios.get('http://localhost:5500/board/getboardlist')
                    // .then(function(response){
                    //     console.log("555");
                    //     vm.boardList = response.data;
                    // })
                    // .catch(function(error){
                    //     console.log(error);
                    // });
                }
            }
        })
    </script>
</body>
</html>

<style>
    .button{
        background:#1AAB8A;
        color:#fff;
        border:none;
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
    }

</style>
